astroid
azure-core==1.7.0
azure-iot-device==2.1.4
azure-storage-blob==12.3.2
azure-storage
certifi
cffi
chardet
click
cryptography
docopt==0.6.2
Flask==1.1.2
future
gobject
icalendar
idna
image
isodate
isort
itsdangerous
janus
Jinja2
lazy-object-proxy
line-bot-sdk==1.16.0
MarkupSafe
mccabe
msrest
numpy
oauthlib
opencv-python
paho-mqtt
Pillow
pycparser
pylint
pyserial
PySocks
python-dateutil
pytz
requests
requests-oauthlib
requests-unixsocket
six
sqlparse
typed-ast
urllib3
Werkzeug
wrapt